<div data-hook="supplier_address_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t('contact_address') %></legend>
    <%= form.fields_for :address do |contact_form| %>
      <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => contact_form, :name => Spree.t(:contact_address), :use_billing => false } %>
    <% end %>
  </fieldset>
</div>

<div data-hook="supplier_details_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend><%= Spree.t('supplier_details') %></legend>
    <%= form.field_container :name do %>
      <%= form.label :name, Spree::Supplier.human_attribute_name(:name) %>:<br />
      <%= form.text_field :name, :class => 'fullwidth title' %>
    <% end %>
    <%= form.field_container :email do %>
      <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>:<br />
      <%= form.email_field :email, :class => 'fullwidth text' %>
    <% end %>
    <%= form.field_container :url do %>
      <%= form.label :url, Spree::Supplier.human_attribute_name(:url) %>:<br />
      <%= form.text_field :url, :class => 'fullwidth text' %>
    <% end %>
    <%= form.field_container :merchant_type do %>
      <%= form.label :merchant_type, Spree::Supplier.human_attribute_name(:merchant_type) %>:<br />
      <%= form.select :merchant_type, [[Spree.t(:individual), 'individual'], [Spree.t(:business), 'business']], {}, :class => 'select2' %>
    <% end %>
    <%= form.field_container :tax_id do %>
      <%= form.label :tax_id, Spree::Supplier.human_attribute_name(:tax_id) %>:<br />
      <%= form.text_field :tax_id, :class => 'fullwidth text' %>
    <% end %>
    <% if spree_current_user.admin? %>
      <%= form.field_container :commission_flat_rate do %>
        <%= form.label :commission_flat_rate, Spree::Supplier.human_attribute_name(:commission_flat_rate) %>:<br />
        <%= form.text_field :commission_flat_rate, :class => 'fullwidth text' %>
      <% end %>
      <%= form.field_container :commission_percentage do %>
        <%= form.label :commission_percentage, Spree::Supplier.human_attribute_name(:commission_percentage) %>:<br />
        <%= form.text_field :commission_percentage, :class => 'fullwidth text' %>
      <% end %>
      <%= form.field_container :users do %>
        <%= form.label :users %><br/>
        <%= hidden_field_tag 'supplier[user_ids_string]', form.object.user_ids.join(','), class: 'fullwidth user_picker' %>
      <% end %>
      <%= form.field_container :active do %>
        <%= form.label :active, Spree::Supplier.human_attribute_name(:active) %>:<br />
        <%= form.check_box :active %>
      <% end %>
    <% end %>
    <div class='center'>
      <% if form.object.new_record? %>
        <%= button Spree.t('create') %>
      <% else %>
        <%= button Spree.t('update') %>
      <% end %>
      <%= Spree.t('or') %>
      <% if can? :index, Spree::Supplier %>
        <%= link_to Spree.t('cancel'), collection_url %>
      <% else %>
        <%= link_to Spree.t('cancel'), spree.account_path %>
      <% end %>
    </div>
  </fieldset>
</div>
