<% if can? :index, Spree::Supplier %>
  <% content_for :page_actions do %>
    <li><%= button_link_to t('.back_to_suppliers'), admin_suppliers_path, :icon => 'icon-arrow-left' %></li>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%= t('.editing_supplier') + " &ldquo;#{@supplier.name}&rdquo;".html_safe %>
<% end %>

<%= render 'spree/shared/error_messages', :target => @supplier %>

<%= form_for [:admin, @supplier] do |f| %>
  <%= render "form", :form => f %>
<% end %>

<div data-hook="supplier_bank_wrapper" class="alpha center four columns">
  <fieldset class="no-border-bottom supplier-banks">
    <legend><%= t('.bank_accounts') %></legend>
    <ol>
      <% @supplier.bank_accounts.each do |bank_account| %>
        <li>
          <%= bank_account.masked_number %> - <%= bank_account.verification_status %>
          <% unless bank_account.verified? %>
            <%= link_to '(' + t(:verify) + ')', spree.edit_admin_supplier_bank_account_path(@supplier, bank_account) %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <%= button_link_to t('.add_bank_account'), spree.new_admin_supplier_bank_account_path(@supplier) %>
  </fieldset>
</div>
