<% content_for :page_actions do %>
  <li><%= button_link_to t('.back_to_suppliers'), admin_suppliers_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<% content_for :page_title do %>
  <%= t('.editing_supplier') + " &ldquo;#{@supplier.name}&rdquo;".html_safe %>
<% end %>

<%= render "spree/admin/shared/supplier_tabs", :current => "Edit Supplier" %>

<%= render 'spree/shared/error_messages', :target => @supplier %>

<%= form_for [:admin, @supplier] do |f| %>
  <%= render "form", :form => f %>
  <%= button t("update") %> <%= t('or') %> <%= link_to t('cancel'), collection_url %>
<% end %>
