<% if can? :index, Spree::Supplier %>
  <% content_for :page_actions do %>
    <li><%= button_link_to Spree.t('back_to_suppliers'), spree.admin_suppliers_path, :icon => 'icon-arrow-left' %></li>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%== Spree.t(:editing_supplier) + " &ldquo;#{@supplier.name}&rdquo;".html_safe %>
<% end %>

<%= render 'spree/shared/error_messages', :target => @supplier %>

<%= form_for [:admin, @supplier] do |f| %>
  <%= render "form", :form => f %>
<% end %>

<div data-hook="supplier_right_column_wrapper" class="alpha center four columns"></div>

