<% content_for :page_actions do %>
  <%= button_link_to Spree.t('back_to_suppliers'), spree.admin_suppliers_path, icon: 'arrow-left' %>
<% end %>

<% content_for :page_title do %>
   <%= Spree.t('new_supplier') %>
<% end %>

<%= render 'spree/shared/error_messages', target: @object%>

<%= form_for [:admin, @object] do |f| %>
  <%= render "form", form: f %>
  <%# render 'create' and 'cancel'  buttons %>
  <div class="col-md-8">
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </div>
<% end %>
