<% content_for :page_actions do %>
  <li><%= button_link_to t(:edit_supplier), spree.edit_admin_supplier_path(@supplier), :icon => 'icon-edit' %></li>
<% end %>

<% content_for :page_title do %>
  <h1><%= @supplier.name %></h1>
<% end %>

TODO make it look nice...

<h4><%= render "spree/admin/shared/address", :address => @supplier.address %></h4>
<dl>
  <dt><%= t(:email) %></dt>
    <dd><%= @supplier.email %></dd>
  <dt><%= t(:url) %></dt>
    <dd><%= @supplier.url %></dd>
  <dt><%= t(:name) %></dt>
    <dd><%= @supplier.name %></dd>
  <dt><%= t(:order_count) %></dt>
    <dd><%= link_to @supplier.orders.count, spree.admin_supplier_orders_path(@supplier) %></dd>
</dl>
