<% content_for :page_actions do %>
  <% if spree_current_user.admin? and !@order.confirmed? %>
    <%= button_link_to t((@order.delivered? ? :resend_order_to_supplier : :send_order_to_supplier)), spree.deliver_admin_drop_ship_order_path(@order), method: 'put' %>
  <% end %>
  <% if spree_current_user.supplier? and @order.delivered? %>
    <%= button_link_to t(:confirm_order), spree.confirm_admin_drop_ship_order_path(@order), method: 'put' %>
  <% end %>
  <li><%= button_link_to t(:back_to_orders_list), spree.admin_drop_ship_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<% if spree_current_user.admin? %>
  <div data-hook="admin_order_show_supplier" class="row">
    <fieldset class="alpha twelve columns no-border-bottom">
      <legend align="center"><%= t(:supplier_information) %></legend>
      <div>
        <b><%= t('supplier.name') %>:</b> <%= @order.supplier.name %><br/>
        <b><%= t('supplier.email') %>:</b> <%= @order.supplier.email %><br/>
        <b><%= t('supplier.url') %>:</b> <%= link_to @order.supplier.url, @order.supplier.url if @order.supplier.url.present? %><br/>
      </div>
      <div>
        <b><%= t('contact_information') %>:</b>
      </div>
      <%= render :partial => 'spree/shared/address', :locals => { :address => @order.supplier.address } %>
    </fieldset>
  </div>
<% end %>

<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>

<div data-hook="admin_order_show_addresses" class="row">
  <% if @order.ship_address %>
    <fieldset class="alpha twelve columns no-border-bottom">
      <legend align="center"><%= t(:ship_address) %></legend>
      <%= render :partial => 'spree/shared/address', :locals => { :address => @order.ship_address } %>
    </fieldset>
  <% end %>
</div>

<div data-hook="admin_order_show_details">
  <%= render :partial => 'spree/admin/shared/order_details', :locals => { :order => @order } %>
</div>
