<%= render "spree/admin/shared/supplier_tabs", :current => "Supplier Orders" if @supplier %>
<%= render "spree/admin/shared/order_tabs", :current => "Drop Ship Orders" if @order %>

<h2>Listing Orders</h2>

<table class="index">
  <thead>
    <tr>
      <th><%= sort_link @search, :id,  t('order.id') %></th>
      <th><%= sort_link @search, :supplier_name,  t('order.supplier.name') %></th>
      <th><%= sort_link @search, :order_number,  t('order.number') %></th>
      <th><%= sort_link @search, :total,  t('order.total') %></th>
      <th><%= sort_link @search, :sent_at,  t('order.sent_at') %></th>
      <th><%= sort_link @search, :confirmed_at,  t('order.confirmed_at') %></th>
      <th><%= sort_link @search, :shipped_at,  t('order.shipped_at') %></th>
      <th><%= sort_link @search, :status,  t('order.status') %></th>
    </tr>
  </thead>
  <tbody>
    <%- @collection.each do |drop_ship_order|%>
      <tr id="<%= dom_id drop_ship_order %>">
        <td><%= link_to "##{drop_ship_order.id}", admin_drop_ship_order_url(drop_ship_order) %></td>
        <td><%= link_to drop_ship_order.supplier.name, admin_supplier_url(drop_ship_order.supplier) %></td>
        <td><%= link_to drop_ship_order.order.number, admin_order_url(drop_ship_order.order) %></td>
        <td><%= number_to_currency drop_ship_order.total %></td>
        <td><%= drop_ship_order.created_at.to_s(:long) %></td>
        <td><%= drop_ship_order.confirmed_at.to_s(:long) if drop_ship_order.confirmed_at.present? %></td>
        <td><%= drop_ship_order.shipped_at.to_s(:long) if drop_ship_order.shipped_at.present? %></td>
        <td><%= drop_ship_order.state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection, :previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;" %>
