<h1><%= t '.new_supplier' %></h1>

<%= render 'spree/shared/error_messages', :target => @supplier %>

<%= form_for([:admin, @supplier]) do |f| %>
  <%= render "form", :form => f %>
  <p class="form-buttons">
    <%= button t('create') %> <%= t('or') %> <%= link_to t('cancel'), collection_url %>
  </p>
<% end %>

