<% content_for :page_actions do %>
  <% if @dso.complete? %>
    <%= render "spree/drop_ship_orders/shipment_info", :dso => @dso %>
  <% elsif !@dso.confirmed? %>
    <%= button_link_to "#{@dso.sent? ? "Resend" : "Send"} Order to Supplier", deliver_admin_drop_ship_order_path(@dso) %>
  <% end %>
<% end %>

<% content_for :page_title do %>
  <h1>Order #<%= @dso.id %></h1>
<% end %>

<div class="float-left">
  <%= render "spree/drop_ship_orders/details", :dso => @dso %>
</div>

<hr class="clear" />

<div class="float-left">
  <h2>Supplier Information</h2>
  <dl>
    <dt>Name</dt>
    <dd><%= @supplier.name %></dd>
    <dt>Address</dt>
    <dd><%= render "spree/admin/shared/address", :address => @supplier.address %></dd>
    <dt>Email</dt>
    <dd><%= @supplier.email %></dd>
    <dt>Phone</dt>
    <dd><%= @supplier.phone %></dd>
    <dt>URL</dt>
    <dd><%= @supplier.url %></dd>
  </dl>
</div>

<div class="float-left">
  <%= render "spree/drop_ship_orders/shipping_info", :address => @address %>
</div>

<hr class="clear" />

<h2>Product Information</h2>

<%= render "spree/drop_ship_orders/table", :dso => @dso %>

<% content_for :head do %>
  <style type="text/css">
    .float-left {
      width: 45%;
      float: left;
    }
  </style>
<% end %>
