<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t("spree_drop_ship.drop_ship_settings") %>
<% end %>

<%= form_tag(spree.admin_drop_ship_settings_path, :method => :put) do %>
  <fieldset class="general no-border-top">
    <% %w(allow_signup default_commission_flat_rate default_commission_percentage send_supplier_welcome_email).each do |key|
      type = Spree::DropShipConfig.preference_type(key) %>
      <div class="field">
        <%= label_tag(key, t(key) + ': ') + tag(:br) if type != :boolean %>
        <%= preference_field_tag(key, Spree::DropShipConfig[key], :type => type) %>
        <%= label_tag(key, t(key)) + tag(:br) if type == :boolean %>
      </div>
    <% end %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button t(:update), 'icon-refresh' %>
      <span class="or"><%= t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', t(:cancel), spree.edit_admin_drop_ship_settings_url, :class => 'button' %>
    </div>
  </fieldset>
<% end %>
