<h2>Dear Customer,</h2>

<h3><%= @drop_ship_order.order.number %> has been shipped.</h3>

<h3 style="border-bottom: 1px solid #ddd;">Shipment Information</h3>
<dl>
  <dt>Shipping Method</dt>
    <dd><%= @drop_ship_order.shipping_method %></dd>
  <dt>Confirmation Number</dt>
    <dd><%= @drop_ship_order.confirmation_number %></dd>
  <dt>Tracking Number</dt>
    <dd><%= @drop_ship_order.tracking_number %></dd>
  <% if @drop_ship_order.notes.present? %>
    <dt>Notes</dt>
      <dd><%= simple_format @drop_ship_order.notes %></dd>
  <% end %>
</dl>

<p>Thanks,</p>

<p>- <%= Spree::Config[:site_name] %></p>
