<h1>Drop Ship Order #<%= @drop_ship_order.id %></h1>
<h4>Reference Number <%= @drop_ship_order.order.number %></h4>

<br/>

<h4>Hello <%= @supplier.name %>,</h4>

<p>You've got a new order! Here's the details:</p>

<h3 style="border-bottom: 1px solid #ddd;">Product Information</h3>

<%= render "spree/drop_ship_orders/table", :drop_ship_order => @drop_ship_order %>

<h3 style="border-bottom: 1px solid #ddd;">Shipping Information</h3>

<%= render "spree/drop_ship_orders/shipping_info", :address => @address %>

<h3 style="border-bottom: 1px solid #ddd;">Confirmation</h3>

<%= link_to "You must click here to confirm this order", spree.edit_drop_ship_order_url(@drop_ship_order) %>

<p>Thanks,</p>

<p>- <%= Spree::Config[:site_name] %></p>
