<% content_for :head do -%>
  <meta name="title" content="<%= t(:supplier_signup) %>">
<% end -%>

<% if defined?(SpreeFancy) %>
  <% content_for :subheader do %>
    <h1><%= t(:edit_supplier_information) %></h1>
  <% end %>
<% else %>
  <h1><%= t(:edit_supplier_information) %></h1>
<% end %>

<%= render 'spree/shared/error_messages', :target => @supplier %>

<%= form_for @supplier do |form| %>
  <div class="columns alpha six" data-hook="address_fieldset_wrapper">
    <fieldset id="supplier-address" data-hook>
      <%= form.fields_for :address do |address_form| %>
        <legend align="center"><%= t(:contact_address) %></legend>
        <%= render :partial => 'spree/address/form', :locals => {:form => address_form, :address_type => 'contact', :address => @supplier.address} %>
      <% end %>
    </fieldset>
  </div>
  <div class="columns alpha six" data-hook="supplier_fieldset_wrapper">
    <fieldset id="supplier-address" data-hook>
      <legend align="center"><%= t(:company_info) %></legend>
      <p>
        <%= form.label :email, t('supplier.email') %>
        <span class="required">*</span><br />
        <%= form.email_field :email, :class => 'text' %>
      </p>
      <p>
        <%= form.label :name, t('supplier.name') %>
        <span class="required">*</span><br />
        <%= form.text_field :name, :class => 'title' %>
      </p>
      <p>
        <%= form.label :url, t('supplier.url') %><br />
        <%= form.text_field :url, :class => 'text' %>
      </p>
    </fieldset>
    <p class="form-buttons">
      <%= form.submit t(:save) %> <%= t('or') %> <%= link_to t('cancel'), spree.account_path %>
    </p>
  </div>
<% end %>
