<% content_for :head do -%>
  <meta name="title" content="<%= Spree.t(:supplier_signup) %>">
<% end -%>

<% if defined?(SpreeFancy) %>
  <% content_for :subheader do %>
    <h1><%= Spree.t(:supplier_signup) %></h1>
  <% end %>
<% else %>
  <h1><%= Spree.t(:supplier_signup) %></h1>
<% end %>

<%= render 'spree/shared/error_messages', :target => @supplier %>

<%= form_for @supplier do |form| %>
  <div class="columns alpha six" data-hook="supplier_fieldset_wrapper">
    <fieldset id="supplier-address" data-hook>
      <legend align="center"><%= Spree.t(:company_info) %></legend>
      <p>
        <%= form.label :name, Spree::Supplier.human_attribute_name(:name) %>
        <span class="required">*</span><br />
        <%= form.text_field :name, :class => 'required title' %>
      </p>
      <% unless spree_current_user %>
        <p>
          <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>
          <span class="required">*</span><br />
          <%= form.email_field :email, :value => spree_current_user.try(:email), :class => 'email required text' %>
        </p>
        <p>
          <%= form.label :password, Spree.user_class.human_attribute_name(:password) %>
          <span class="required">*</span><br />
          <%= form.password_field :password, :class => 'required title', :minlength => 6 %>
        </p>
        <p>
          <%= form.label :password_confirmation, Spree::Supplier.human_attribute_name(:password_confirmation) %>
          <span class="required">*</span><br />
          <%= form.password_field :password_confirmation, :class => 'required title', :minlength => 6 %>
        </p>
      <% end %>
      <p id="supplier_tax_id_field">
        <%= form.label :tax_id, Spree::Supplier.human_attribute_name(:tax_id) %>
        <span class="required">*</span><br />
        <%= form.text_field :tax_id, :class => 'required text' %>
      </p>
    </fieldset>
    <p class="form-buttons">
      <%= form.submit Spree.t(:signup) %> <%= Spree.t('or') %> <%= link_to Spree.t('cancel'), spree.account_path %>
    </p>
  </div>
<% end %>
