<% content_for :head do -%>
  <meta name="title" content="<%= t(:supplier_signup) %>">
<% end -%>

<% if defined?(SpreeFancy) %>
  <% content_for :subheader do %>
    <h1><%= t(:supplier_signup) %></h1>
  <% end %>
<% else %>
  <h1><%= t(:supplier_signup) %></h1>
<% end %>

<%= render 'spree/shared/error_messages', :target => @supplier %>

<%= form_for @supplier do |form| %>
  <div class="columns alpha six" data-hook="address_fieldset_wrapper">
    <fieldset id="supplier-address" data-hook>
      <p>
        <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>
        <span class="required">*</span><br />
        <%= form.email_field :email, :value => spree_current_user.try(:email), :class => 'email required text' %>
      </p>
      <%= form.fields_for :address do |address_form| %>
        <legend align="center"><%= t(:contact_address) %></legend>
        <%= render :partial => 'spree/address/form', :locals => {:form => address_form, :address_type => 'contact', :address => @supplier.address} %>
      <% end %>
    </fieldset>
  </div>
  <div class="columns alpha six" data-hook="supplier_fieldset_wrapper">
    <fieldset id="supplier-address" data-hook>
      <legend align="center"><%= t(:company_info) %></legend>
      <p>
        <%= form.label :name, Spree::Supplier.human_attribute_name(:name) %>
        <span class="required">*</span><br />
        <%= form.text_field :name, :class => 'required title' %>
      </p>
      <p>
        <%= form.label :url, Spree::Supplier.human_attribute_name(:url) %><br />
        <%= form.text_field :url, :class => 'text' %>
      </p>
      <p>
        <%= form.label :contacts_date_of_birth, Spree::Supplier.human_attribute_name(:contacts_date_of_birth) %>
        <span class="required">*</span><br />
        <%= form.date_select :contacts_date_of_birth, end_year: Time.now.year - 18, start_year: Time.now.year - 100 %>
      </p>
      <p>
        <%= form.label :merchant_type, Spree::Supplier.human_attribute_name(:merchant_type) %>
        <span class="required">*</span><br />
        <%= form.select :merchant_type, [[t(:individual), 'individual'], [t(:business), 'business']], :class => 'required select2' %>
      </p>
      <p id="supplier_tax_id_field">
        <%= form.label :tax_id, Spree::Supplier.human_attribute_name(:tax_id) %>
        <span class="required">*</span><br />
        <%= form.text_field :tax_id, :class => 'required text' %>
      </p>
    </fieldset>
    <p class="form-buttons">
      <%= form.submit t(:signup) %> <%= t('or') %> <%= link_to t('cancel'), spree.account_path %>
    </p>
  </div>
<% end %>
