<%= form_for drop_ship_order do |f| %>
  <% if drop_ship_order.confirmed? %>
    <p>
      <%= f.label :shipping_method %><br/>
      <%= f.text_field :shipping_method, :class => 'text' %>
    </p>
    <p>
      <%= f.label :confirmation_number %><br/>
      <%= f.text_field :confirmation_number, :class => 'text' %>
    </p>
    <p>
      <%= f.label :tracking_number %><br/>
      <%= f.text_field :tracking_number, :class => 'text' %>
    </p>
    <p>
      <%= f.label :notes %><br/>
      <%= f.text_area :notes, :class => 'text' %>
    </p>
    <p class="actions"><%= f.submit "Process and finalize order" %></p>
  <% elsif drop_ship_order.sent? %>
    <p>Please confirm this order!</p>
    <p class="actions"><%= f.submit "Confirm Order" %></p>
  <% end %>
<% end %>
