<h2><%= t(:shipping_information, :scope => :spree_drop_ship) %></h2>

<dl>
  <dt><%= t(:address) %></dt>
  <br/>
    <dd><%= address.firstname %> <%= address.lastname %></dd>
    <dd><%= address.address1 %></dd>
    <% unless address.address2.blank? %>
      <dd><%= address.address2 %></dd>
    <% end %>
    <dd><%= address.state.name %>, <%= address.country.name %> <%= address.zipcode %></dd>
    <br/>
  <dt><%= t(:phone) %></dt>
  <dd><%= address.phone %></dd>
  <br/>
  <dt><%= t(:email) %></dt>
  <dd><%= mail_to @drop_ship_order.order.email %></dd>
</dl>
