<h2><%= t(:shipment_information, :scope => :spree_drop_ship) %></h2>

<dl>
  <dt><%= t(:shipping_method) %></dt>
  <dd><%= drop_ship_order.shipping_method %></dd>
  <% unless drop_ship_order.confirmation_number.blank? %>
    <dt><%= t(:confirmation_number, :scope => :spree_drop_ship) %></dt>
    <dd><%= drop_ship_order.confirmation_number %></dd>
  <% end %>
    <dt><%= t(:tracking_number, :scope => :spree_drop_ship) %></dt>
    <dd><%= drop_ship_order.tracking_number %></dd>
  <% unless drop_ship_order.notes.blank? %>
    <dt><%= t(:notes, :scope => :spree_drop_ship) %></dt>
    <dd><%= simple_format drop_ship_order.notes %></dd>
  <% end %>
</dl>
