<table class="index">
  <tr>
    <th>SKU</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>
<% if dso.line_items.empty? %>
  <tr>
    <td colspan="5">This order has no line items.</td>
  </tr>
<% else %>
  <% dso.line_items.each do |li| %>
    <tr>
      <td><%= li.sku %></td>
      <td><%= li.name %></td>
      <td><%= li.quantity %></td>
      <td><%= li.price %></td>
      <td><%= li.subtotal %></td>
    </tr>
  <% end %>
<% end %>
  <tr class="totals">
    <td colspan="5">
      Total:
      <b class="total"><%= number_to_currency dso.total %></b>
    </td>
  </tr>
</table>
